/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background: #17202A;
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color: #fff
}
