<div class="container color-dark">
  <div class="col">
    <p>Add a Goal for 2018</p>
  </div>
  <div class="col">
    <p>2018 Goals ({{ itemCount }})</p>
  </div>
</div>

<div class="container color-light">
  <div class="col">
    <p class="sm">Use this form below to add a new goal.</p>
    <form>
      <input type="text" class="txt" name="item" placeholder="Life goal.." [(ngModel)]="goalText">
      <input type="submit" class="btn" [value]="btnText" (click)="addGoal()">
      <input type="submit" class="btn" value="Clear Goals" (click)="clear()">
    </form>
  </div>
  <div class="col" [@goals]="goals.length">
    <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="gotoDetails(goal)">
      {{ goal.goalTitle }}
    </p>
  </div>
</div>
